body {
  /* background image */
  background-image: url("../img/index-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-container {
  max-width: 600px;
  padding: 1.4rem 7%;
  color: var(--dark);
  /* margin: 0 auto; */
}

.contact-info li {
  margin-bottom: 10px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--dark);
  border-radius: 5px;
}

.contact-form input[type="submit"] {
  background-color: var(--brown);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form .wa-contact {
  margin-top: 1rem;
  font-size: 20px;
}

.contact-form .wa-contact i {
  font-size: 2rem;
  text-decoration: none;
  color: var(--dark);
}
