/* menu card */
.pesan .title {
  text-align: center;
  margin-top: 2rem;
}

.pesan .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  justify-content: center;
}

.pesan .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.pesan .row .menu-card img {
  border-radius: 50%;
  width: 60%;
}

.pesan .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}

/* untuk pesan.php */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--dark);
  border-radius: 5px;
  margin-bottom: 3rem;
  color: #fff;
}

.form-container h2 {
  text-align: center;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="number"],
.form-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form-container .kopi-inputs {
  margin-bottom: 20px;
}

.form-container .kopi-inputs label {
  display: inline-block;
  margin-right: 10px;
}

.form-container input[type="submit"] {
  background-color: var(--brown);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
