body {
  background-color: var(--cream);
  color: var(--dark);
}

/* menu card */
.pesan .title {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
}

.pesan .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  justify-content: center;
}

.pesan .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.pesan .row .menu-card img {
  border-radius: 50%;
  width: 60%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.pesan .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}

/* untuk pesan.php */
.form-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0px auto;
  margin-bottom: 2rem;
  padding: 20px;
  width: 400px;
}

.form-container h2 {
  color: var(--dark);
  text-align: center;
}

label {
  color: var(--dark);
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="number"],
select {
  border-radius: 5px;
  border: 1px solid var(--brown);
  padding: 5px;
  width: 100%;
}

button[type="button"],
input[type="submit"] {
  background-color: var(--brown);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

button[type="button"]:hover,
input[type="submit"]:hover {
  background-color: var(--dark);
}

.kopi-inputs {
  margin-top: 20px;
}

.kopi-inputs label,
.kopi-inputs select,
.kopi-inputs input[type="number"] {
  display: block;
  margin-top: 10px;
}
