@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

/* for default style, header, main, footer */
:root {
  --bg: #1c0a00;
  --primary: #603601;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  /* for header and footer */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* header (navbar) style */
header {
  background-color: var(--primary);
}

nav {
  overflow: hidden;
  top: 0;
  width: 100%;
  text-align: center;
}

nav a {
  float: left;
  display: block;
  text-align: center;
  padding: 20px 12px;
  text-decoration: none;
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  background: var(--bg);
  color: #fff;
}

/* footer style */
footer {
  background-color: var(--primary);
  color: #fff;
  text-align: center;
  margin-top: auto;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}

footer span {
  font-weight: 700;
}
