/* * {
  border: 1px solid red;
} */

body {
  background-color: var(--cream);
}

.tentang {
  padding: 0rem 7%;
  color: var(--dark);
}

.tentang h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.tentang .row {
  display: flex;
}

.tentang .row .tentang-img {
  flex: 1 1 45rem;
}

.tentang .row .tentang-img img {
  width: 450px;
  height: auto;
  margin-left: 7rem;
}

.tentang .row .content {
  padding: 0 1rem;
  margin-right: 5rem;
}

.tentang .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.tentang .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
}
